#!/bin/sh
#

# PROVIDE: serviio
# REQUIRE: LOGIN

. /etc/rc.subr

: ${serviio_enable=NO}

name="serviio"
rcvar=serviio_enable
pidfile="/var/run/serviio.pid"


load_rc_config ${name}
start_cmd="serviio_start"
stop_cmd="serviio_stop"

serviio_stop() {
	pkill -f serviio
	rm /var/run/serviio.pid
}


serviio_start() {
	/usr/pbi/serviio-`uname -m`/etc/local/serviio-0.6.2/serviio.sh
	sleep 2
        pgrep -f serviio > /var/run/serviio.pid
	echo "Started with PID" `pgrep -f serviio`
}

run_rc_command "$1"
